<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
</head>

<body class="main-bg">
    {% extends 'template.html' %}

    {% block content %}
    <br><br><br><br><br>
    <div class="container text-whitesmoke text-center">
        <h2>404 Page Not Found</h2>
        <p>This page does not exist. To play the Extended Tic-Tac-Toe login <a href="/">here</a></p>
    </div>
    {% endblock content %}
</body>

</html>